#conteiner { 
  display: flex;
}

.noteBlock { 
  width: 200px;
  height: 250px;
  color: white;
  display: flex;
  flex-direction:  column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pinButton { 
  position:absolute;
  top: 0;
  color: white;
  right: 0;
}